@font-face {
  font-family: "Proxima";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Proxima/ProximaNova-Regular.eot");
  src: url("../fonts/Proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima/ProximaNova-Regular.woff") format("woff"), url("../fonts/Proxima/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Proxima/ProximaNova-Semibold.eot");
  src: url("../fonts/Proxima/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima/ProximaNova-Semibold.woff") format("woff"), url("../fonts/Proxima/ProximaNova-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Proxima/ProximaNova-Bold.eot");
  src: url("../fonts/Proxima/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima/ProximaNova-Bold.woff") format("woff"), url("../fonts/Proxima/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Proxima/ProximaNova-Extrabld.eot");
  src: url("../fonts/Proxima/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/Proxima/ProximaNova-Extrabld.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Proxima", sans-serif;
  font-weight: normal;
  color: #006178;
  background: #EDEFF2; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Proxima", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 40px;
  border: 1px solid #FFFFFF;
    border-radius: 20px;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(196, 210, 0, 0.15));
          filter: drop-shadow(0px 5px 20px rgba(196, 210, 0, 0.15));
  background: transparent;
  color: #fff; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #fff; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #fff; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #fff; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #fff; }

label {
  position: relative;
  display: block;
  width: 190px;
  margin: 0 20px 0 0; }

.color-accent {
  color: #006178; }

a.color-accent:hover {
  color: #C4D200; }

.color-green {
  color: #C4D200; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  outline: none;
  padding: 0;
  border: none;
  font-family: "Proxima", sans-serif;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height: 60px;
  max-width: 298px;
  width: 100%; }

.btn-accent {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 97, 120, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 97, 120, 0.1);
  background: radial-gradient(100% 105.81% at 0% 100%, #006178 0%, #C4D200 100%);
  color: #fff; }
  .btn-accent:hover {
    background: radial-gradient(100% 105.81% at 0% 100%, #C4D200 0%, #006178 100%);
    color: #fff; }

.btn-border {
  border: 2px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(196, 210, 0, 0.15));
          filter: drop-shadow(0px 5px 20px rgba(196, 210, 0, 0.15));
  color: #fff;
  font-weight: normal; }
  .btn-border:hover {
    background: #fff;
    color: #006178; }

.btn-border-blue {
  border: 2px solid #006178;
  color: #006178; }

.btn-border-accent {
  border: 2px solid #C4D200;
  color: #C4D200; }

.btn-white {
  background: #fff;
  color: #006178;
  font-weight: 700; }
  .btn-white:hover {
    background: #006178;
    color: #fff; }

.phone {
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .phone:hover {
    color: #006178; }

.phone-icon {
  width: 25px;
  height: 25px;
  fill: #fff;
  margin: 0 9px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-group {
  width: 100%; }
  .btn-group .btn {
    margin: 0 15px 0 0;
    border-radius: 20px; }
    .btn-group .btn:last-child {
      margin: 0; }
    .btn-group .btn:not(:first-child), .btn-group .btn:not(:last-child):not(.dropdown-toggle) {
      border-radius: 20px; }

h1 {
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 50px; }
  h1 span {
    font-weight: normal;
    display: block;
    font-size: 52px; }

h2 {
  font-size: 58px;
  font-weight: 800;
  text-transform: uppercase;
  color: #006178; }

h3 {
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  color: #006178; }

.list-dots {
  list-style-type: disc;
  padding: 0 0 0 20px; }

.container {
  max-width: 1570px; }

.bg-white {
  background: #fff; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 38px 0; }
  header .btn {
    max-width: 141px;
    padding: 0 24px;
    font-weight: normal; }
  header .btn-white {
    color: #000; }
  header .logo {
    background: #fff;
    padding: 12px 55px;
    border-radius: 20px;
    margin: 0 auto 0 0; }
    header .logo img {
      max-height: 100%; }
  header .phone {
    margin: 0 144px 0 0; }
  header .btn-group {
    width: auto; }

.header {
  position: relative; }
  .header .btn-menu, .header .phone-icon {
    fill: #006178; }
  .header .phone {
    color: #006178; }
  .header select {
    border: 2px solid #006178;
    background: url("../img/select2.svg") no-repeat calc(100% - 12px) center;
      background-size: 23px;
    color: #006178; }

.header-contacts .btn-menu, .header-contacts .phone-icon {
  fill: #006178; }

.header-contacts .phone {
  color: #006178; }

.header-contacts select {
  color: #C4D200; }

.header-contacts .btn-menu {
  fill: #C4D200; }

.btn-menu {
  margin: 0 0 0 70px;
  cursor: pointer;
  width: 82px;
  height: 17px;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 298px;
  font-size: 18px;
  font-family: "Proxima", sans-serif;
  padding: 0 12px 0 24px;
  background: transparent url("../img/select.svg") no-repeat calc(100% - 12px) center;
    background-size: 23px;
  border: 2px solid #FFFFFF;
    border-radius: 20px;
  height: 40px;
  color: #fff;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(196, 210, 0, 0.15));
          filter: drop-shadow(0px 5px 20px rgba(196, 210, 0, 0.15));
  cursor: pointer; }

.select-location {
  margin: 0 15px 0 0; }

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  max-width: 290px;
  padding: 20px 30px;
  background: #fff;
  z-index: 5;
  display: none; }
  .mobile-menu .logo {
    margin: 50px auto 30px; }

.btn-close {
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 20px;
  background: radial-gradient(100% 105.81% at 0% 100%, #006178 0%, #C4D200 100%), #FFFFFF;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu li {
  margin: 0 0 20px; }
  .menu li:last-child {
    margin: 0; }
  .menu li a {
    font-size: 18px;
    font-weight: 600;
    color: #006178; }
    .menu li a:hover {
      color: #C4D200; }

main {
  padding: 255px 0 167px; }

.home {
  background: -webkit-gradient(linear, left top, right top, color-stop(11.25%, #006178), color-stop(64.75%, rgba(0, 97, 120, 0))), url("../img/bg1.jpeg") no-repeat center;
  background: linear-gradient(90deg, #006178 11.25%, rgba(0, 97, 120, 0) 64.75%), url("../img/bg1.jpeg") no-repeat center;
    background-size: cover;
  color: #fff; }
  .home h1 {
    font-size: 58px; }

.about-water {
  padding: 126px 0 0;
  font-size: 36px; }
  .about-water h2 {
    margin: 0 0 42px; }
  .about-water h3 {
    border-top: 1px solid #C4D200;
    padding: 34px 0 0;
    width: 100%;
    margin: 0 0 15px; }
  .about-water .btn-group {
    margin: 140px 0 0; }

.mobile-title {
  display: none; }

.about-water-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about-water-two h3 {
  padding: 0;
  border: none;
  font-size: 56px; }

.about-water-two h2 {
  border-bottom: 1px solid #C4D200;
  padding: 0 0 40px;
  margin: 0 0 36px; }

footer {
  padding: 124px 0 152px;
  font-size: 18px; }
  footer .logo {
    margin: 0 auto 0 0; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }
  .list-social li {
    margin: 0 25px 0 0; }
    .list-social li:last-child {
      margin: 0; }

.tel {
  font-size: 18px;
  font-weight: bold;
  color: #006178; }
  .tel:hover {
    color: #C4D200; }

.mail {
  font-weight: 600;
  font-size: 18px;
  padding: 0 35px;
  border-left: 1px solid #006178;
  border-right: 1px solid #006178;
  margin: 0 44px;
  color: #006178; }
  .mail:hover {
    color: #C4D200; }

.links-info {
  font-size: 13px; }

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.home-page {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #006178), color-stop(57.27%, rgba(0, 97, 120, 0))), url("../img/bg2.jpeg") no-repeat center top;
  background: linear-gradient(90deg, #006178 10%, rgba(0, 97, 120, 0) 57.27%), url("../img/bg2.jpeg") no-repeat center top;
    background-size: cover; }
  .home-page h1 {
    font-size: 80px; }

.callback {
  margin: 136px 0 0; }

.callback-wrapper {
  width: 100%;
  max-width: 1239px;
  padding: 43px 88px 52px 62px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 15px 40px #E2E6EB;
          box-shadow: 0px 15px 40px #E2E6EB;
  border-radius: 40px;
  background: radial-gradient(100% 105.81% at 0% 100%, #006178 0%, #C4D200 100%), #FFFFFF;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .callback-wrapper h2 {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form .btn {
    width: 190px;
    max-width: none;
    height: 40px;
    font-weight: normal;
    -webkit-box-shadow: 0px 15px 40px rgba(0, 97, 120, 0.1);
            box-shadow: 0px 15px 40px rgba(0, 97, 120, 0.1);
    color: #000;
    font-size: 14px; }
    .form .btn:hover {
      color: #fff; }

.video {
  margin: 100px 0 0; }
  .video h2 {
    margin: 0 auto 43px;
    text-align: center;
    font-size: 38px; }

.video-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 766px;
  height: 456px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1; }
  .video-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .video-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }

.btn-play {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.advantages-company {
  position: relative;
  padding: 150px 0;
  font-size: 38px; }
  .advantages-company h3 {
    border: none;
    padding: 0;
    margin: 0 0 30px; }
  .advantages-company .btn-group {
    margin: 75px 0 0;
    max-width: 585px;
    width: 100%; }
  .advantages-company ul li {
    margin: 0 0 30px; }
    .advantages-company ul li:last-child {
      margin: 0; }
  .advantages-company h2 {
    background: #fff;
    padding: 30px;
    border-radius: 40px;
    -webkit-box-shadow: 0 15px 40px #E2E6EB;
            box-shadow: 0 15px 40px #E2E6EB; }
  .advantages-company .btn {
    max-width: 298px; }

.advantages-company-number {
  color: #C4D200;
  font-size: 270px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 329px;
  margin: -50px 0 0 -15px; }

.advantages-company__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1; }
  .advantages-company__img:before {
    content: '';
    position: absolute;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(25.95%, #EDEFF2), color-stop(47.73%, rgba(237, 239, 242, 0))), -webkit-gradient(linear, left bottom, left top, from(#EDEFF2), color-stop(27.2%, rgba(237, 239, 242, 0)));
    background: linear-gradient(90deg, #EDEFF2 25.95%, rgba(237, 239, 242, 0) 47.73%), linear-gradient(360deg, #EDEFF2 0%, rgba(237, 239, 242, 0) 27.2%); }

.advantages-company-two .advantages-company__img {
  width: 1059px;
  left: auto;
  right: 0; }

.advantages-company-two .advantages-company-number {
  margin: -50px 0 0 -60px; }
  .advantages-company-two .advantages-company-number:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(10.86%, #EDEFF2), color-stop(56.09%, rgba(237, 239, 242, 0)));
    background: linear-gradient(90deg, #EDEFF2 10.86%, rgba(237, 239, 242, 0) 56.09%); }

.advantages-company-three .btn-group {
  margin: 40px 0 0; }

.advantages-company-four ul {
  font-size: 36px; }
  .advantages-company-four ul li {
    margin: 0; }

.advantages-company-four .advantages-company__img {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 1543px; }

.page {
  padding: 47px 0 0; }
  .page h1 {
    margin: 0;
    font-size: 45px;
    font-weight: bold; }

.contacts {
  padding: 100px 0 0; }

.contacts-box {
  margin: 70px 0 0;
  color: #006178;
  font-size: 24px; }
  .contacts-box .phone {
    font-size: 36px;
    font-weight: bold;
    color: #006178; }
  .contacts-box .svg-icon {
    fill: #C4D200; }
  .contacts-box .phone-icon {
    width: 30px;
    min-width: 30px;
    height: 27px;
    margin: 0 19px 0 0; }
  .contacts-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #006178; }

.contacts-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contacts-mail .mail-icon {
    width: 30px;
    height: 22px;
    min-width: 30px;
    margin: 0 19px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 34px 0 28px; }

.address-icon {
  width: 30px;
  min-width: 30px;
  height: 24px;
  margin: 0 19px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.video-section {
  margin: 118px 0 0; }
  .video-section h2 {
    text-align: left;
    font-size: 40px;
    margin: 0 0 45px; }
  .video-section .box-text {
    font-size: 38px; }

.tariffs-page h1 {
  margin: 0 auto;
  font-size: 38px; }

.tariffs-box {
  margin: 50px 0 0;
  padding: 55px 55px 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 15px 40px #E2E6EB;
          box-shadow: 0px 15px 40px #E2E6EB; }
  .tariffs-box h3 {
    font-size: 58px;
    font-weight: bold;
    margin: 0; }
  .tariffs-box ul {
    margin: 25px 0 36px;
    font-size: 25px;
    line-height: 30px;
    position: relative;
    padding: 25px 0 9px 20px; }
    .tariffs-box ul:before, .tariffs-box ul:after {
      content: '';
      position: absolute;
      width: 298px;
      height: 1px;
      background: #C4D200;
      left: 0; }
    .tariffs-box ul:before {
      top: 0; }
    .tariffs-box ul:after {
      bottom: 0; }
  .tariffs-box .btn {
    max-width: 221px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; }
    .tariffs-box .btn .svg-icon {
      width: 22px;
      height: 22px;
      fill: #C4D200; }
  .tariffs-box .btn-accent .svg-icon {
    fill: #fff; }
  .tariffs-box .btn-white {
    background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF)), #006178;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #006178; }
    .tariffs-box .btn-white:hover {
      background: #006178; }

.tariffs-box-one {
  background: radial-gradient(100% 105.81% at 0% 100%, #006178 0%, #C4D200 100%), #FFFFFF;
  color: #fff; }
  .tariffs-box-one h3, .tariffs-box-one .subtitle {
    color: #fff; }

.tariffs-box-two {
  background: #fff; }

.price {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 45px; }

.subtitle {
  color: #006178;
  font-size: 24px;
  text-transform: uppercase; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1630px) {
  .advantages-company-number {
    font-size: 180px;
    line-height: 1;
    margin: 0 auto; }
  .advantages-company-two .advantages-company-number {
    margin: 0 auto; } }

@media only screen and (max-width: 1400px) {
  header .phone {
    margin: 0 30px 0 0;
    font-size: 24px; }
  header .logo {
    padding: 17px 10px; }
  .phone-icon {
    width: 20px; }
  .btn-menu {
    margin: 0 0 0 20px; }
  .select {
    width: 220px; } }

@media only screen and (max-width: 1200px) {
  .btn-menu {
    width: 44px;
    height: 10px; }
  .mail {
    padding: 0 20px;
    margin: 0 20px; }
  .list-social li {
    margin: 0 18px 0 0; }
  .callback-wrapper {
    padding: 27px 30px 42px; }
    .callback-wrapper h2 {
      text-align: center;
      margin: 0 auto 34px;
      width: 100%; }
  .form {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
  .tariffs-box h3 {
    font-size: 38px;
    margin: 0 0 10px; }
  .subtitle {
    font-size: 24px; }
  .video-section .box-text {
    font-size: 24px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .list-social {
    width: 100%;
    margin: 27px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-box {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 10px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 992px) {
  .select-location {
    display: none; }
  header {
    padding: 35px 0; }
    header .logo {
      margin: 0;
      height: 56px; }
    header .phone {
      margin: 0 auto; }
    header .btn-group {
      display: none; }
  .btn-menu {
    margin: 0; }
  h1 {
    font-size: 30px; }
    h1 span {
      font-size: 24px; }
  .home h1 {
    font-size: 30px;
    margin: 0 0 28px; }
  .home .btn {
    margin: 0 auto; }
  main {
    padding: 182px 0 47px; }
  .btn {
    max-width: 224px; }
  .about-water {
    padding: 42px 0 0;
    font-size: 24px; }
    .about-water h2 {
      margin: 0; }
    .about-water h3 {
      padding: 19px 0;
      margin: 0; }
    .about-water .btn-group {
      margin: 42px 0 0; }
  .mobile-title {
    display: block;
    margin: 0 0 25px; }
  h2 {
    font-size: 32px; }
  .about-water-img {
    margin: 0 auto 35px;
    max-width: 343px; }
  .about-water-content h2 {
    display: none; }
  h3 {
    font-size: 28px; }
  .about-water-two h3 {
    font-size: 28px;
    border: none;
    padding: 0; }
  .about-water-two h2 {
    border: none;
    padding: 0 0 28px; }
  .about-water-two .about-water-img {
    margin: 28px auto 0; }
  footer {
    padding: 76px 0 44px; }
  .footer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 228px;
    width: 100%;
    padding: 15px 0 26px;
    border-top: 1px solid #006178;
    border-bottom: 1px solid #006178; }
  .mail {
    border: none;
    padding: 0;
    margin: 1px auto 16px; }
  footer .logo {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .links-info {
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 10px auto 0; }
  .advantages-company__img {
    position: relative; }
  .advantages-company {
    padding: 0 0 49px;
    font-size: 24px; }
    .advantages-company ul {
      font-size: 24px; }
    .advantages-company h3 {
      padding: 0;
      margin: 0 0 27px; }
    .advantages-company .btn-group {
      margin: 27px auto 0; }
    .advantages-company h2 {
      display: block;
      padding: 35px 33px;
      margin: 0 0 40px;
      font-size: 28px; }
  .advantages-company-two .advantages-company__img {
    width: calc(100% + 15px);
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    margin: 0 -15px 0 0; }
  label {
    max-width: 283px;
    width: 100%;
    margin: 0 auto 26px; }
  input {
    text-align: center; }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form .btn {
      margin: 12px auto 0;
      max-width: 222px;
      width: 100%; }
  .contacts-box {
    margin: 40px 0 0;
    font-size: 18px; }
    .contacts-box .phone {
      font-size: 24px; }
  .address {
    margin: 15px 0; }
  .page {
    padding: 15px 0 0; }
  .tariffs-box {
    padding: 40px 30px 50px;
    margin: 32px 0 0; }
    .tariffs-box ul {
      margin: 25px 0; }
    .tariffs-box .btn {
      font-weight: bold; }
  .price {
    margin: 0 0 32px; }
  .video-section {
    margin: 49px 0 0; }
    .video-section h2 {
      margin: 0 0 20px;
      font-size: 38px; }
    .video-section .box-text {
      font-size: 32px;
      margin: 0 0 11px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px; }
  .home h1 {
    font-size: 24px; }
  .advantages-company-number {
    font-size: 144px; }
  .video {
    margin: 47px 0 0; }
    .video h2 {
      margin: 0 0 26px;
      text-align: left;
      font-size: 28px; }
  .btn-play {
    width: 43px; }
  .callback {
    margin: 47px 0 0; }
  .tariffs-box .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .tariffs-box .btn {
    margin: 0 auto 20px;
    width: 100%;
    max-width: none; }
    .tariffs-box .btn br {
      display: none; }
    .tariffs-box .btn .svg-icon {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin: 0 13px 0 0; }
  .video-box {
    height: auto; }
  .video-section h2 {
    font-size: 38px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header .phone {
    font-size: 20px; }
  header .logo {
    padding: 10px;
    max-width: 120px;
    height: 40px; }
  .about-water-two .btn-group {
    display: none; }
  .about-water-two h3 {
    font-size: 22px; }
  .about-water .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-water .btn {
    margin: 0 auto 26px;
    max-width: 280px; }
    .about-water .btn:last-child {
      margin: 0 auto; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
